version: '3.8'

services:
  backend:
    image: himaneeshj/shadowcanvas-backend
    env_file:
      - backend.env
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    image: himaneeshj/shadowcanvas-frontend
    ports:
      - "80:80"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    restart: unless-stopped